@import "styles/cores";
@import "styles/container";


@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.cabecalho {

    background-color: #555;
    padding-top: 30px;
    margin-bottom: 100px;
    background: linear-gradient(-45deg, $principal, $tercearia, $principal);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    width: 100%;
    @media screen and (min-width:768px) {
        height: 400px;
    }
    @media screen and (max-width:768px){
        padding-bottom: 20px;
        overflow-x: hidden;
    }


    &__destaque {
        width: 90%;
        max-width: $container-width;
        margin: 0 auto;
        position: relative;

        @media screen and (min-width:768px) {
            min-height: 500px;
            overflow: hidden;
        }
        
        &__texto {

            @media screen and (min-width:768px) {
                width: 60%;
                margin-top: 50px;
            }
            
            @media screen and (max-width:768px) {
                text-align: center;
            }
    
            h1 {
                font-size: 4rem;
                font-weight: 700;
                color: #fff;
                padding-bottom: 20px;

                @media screen and (max-width:768px) {
                    font-size: 3rem;
                }
            }

            span {
                font-size: 1.2rem;
                font-weight: 700;
                color: $secundaria;
                display: block;
                padding-bottom: 20px;
            }

    
            p {
                color: #fff;
                line-height: 1.5rem;
            }
        }
    
        &__imagem {

            @media screen and (min-width:768px) {
                position: absolute;
                top: -30px;
                right: -40px;
            }

            @media screen and (max-width:768px) {
                margin-top: -60px;
                margin-left: -30px;
            }
            
        }
    
    }
}
