@import "styles/cores";

.contato {

    background-color: $cinza;
    border-radius: 8px;
    width: fit-content;
    display: block;
    margin: 40px 0;
    padding: 15px 25px 10px 25px;
    box-shadow:  2px 2px 2px rgba(0,0,0,0.2);

    @media screen and (max-width:768px){
        margin: 40px auto;
    }

    &__texto {
        margin-bottom: 10px;
        color: $secundaria;
    }

    &__icone {
        font-size: 40px;
        color: $secundaria;
    }

    &__icone:hover,
    &__icone:active {
        color: $principal;
    }

    a{
        margin-right: 20px;   
    }
    a:last-child{
        margin-right: 0;
    } 
}