@import "styles/cores";

.curso {

    margin-bottom: 20px;
    border: 3px solid $cinza;
    padding: 20px 15px;
    border-radius: 6px;
    transition: all 1s;

    @media screen and (min-width:768px) {
        margin-bottom: 0;
    }

    h3 {
        font-size: 1.2rem;
        font-weight: 700;
        color: $principal;
        padding-bottom: 10px;
    }

    &__info {
        span {
            margin-right: 20px;

            a {
                text-decoration: none;
                color: #000;
            }
        }

        &__icone {
            color: $secundaria;
            font-size: 1.1em;
            position: relative;
            top: 3px;
        }
    }

    
}

.curso:hover {
    border-color: $secundaria;
}